// Responsive
$breakpoints: (
        "small":        320px,
        "phone":        400px,
        "phone-wide":   480px,
        "phablet":      560px,
        "tablet-small": 640px,
        "medium":       768px,
        "medium-800":   800px,
        "tablet-wide":  1024px,
        "wide":         1170px,
        "desktop-wide": 1440px
);
@mixin respond-to($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}